
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    color: #64ffda;
}

.dark {
    --color-bodYColor: #0A192F;
    --color-textGreen: #64ffda;
    --color-textLight: #ccd6f6;
   --color-bg-card : #112240;
    --color-textDark: #8892b0;
    --color-hoverColor: rgba(100,255,218,0.1);
    --color-textDarkTw:#5f6b86;
    --color-textDarkBt:#112240;
   
  }
  
  .light {
    --color-bodYColor: #ffffff;
    --color-textGreen: #03906f;
    --color-bg-card : #edf1f6;
    --color-textLight: #1e1c1c;
    --color-textDark: #464444;
    --color-textDarkTw:#3fb499;
    --color-textDarkBt:#edf1f6;
    --color-hoverColor: rgba(100,255,218,0.1);
    
  }
 .scrollbar {
    @apply scrollbar-thin scrollbar-thumb-textDarkTw scrollbar-track-textDarkBt;
  } 